#footer {
    height: auto;
    background-color: #3a0808;
    width: 100%;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
}

.footer-links-left>div,
.footer-links-right>div {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 50px;
}

.footer-links-left>div>a {
    color: white !important;
}

.footer-links-right>div>a>img {
    display: inline-block;
    margin: 0 3px 0 3px;
}

#line {
    border: 0;
    background-color: white;
    height: 1px;
    margin: 0;
}

.footer-info {
    display: flex;
    align-items: center;
    height: 50px;
}

.footer-info:nth-child(1) {
    justify-content: flex-start;
}

.footer-info:nth-child(2) {
    justify-content: flex-end;
}

@media (max-width: 992px) {
    .footer-info {
        justify-content: center !important;
        text-align: center;
    }
}