#index {
    background: white;
    margin-bottom: 40px;
}

#big-image {
    background-image: url(../images/big-image.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #f2f2f2;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.23);
    transition: all 0.5s;
}

.category-row {
    background: -webkit-linear-gradient(left, #3a0808, white);
    background: -o-linear-gradient(right, #3a0808, white);
    background: -moz-linear-gradient(right, #3a0808, white);
    background: linear-gradient(to right, #3a0808, white);
    padding: 10px;
    margin-top: 20px;
}

.category-title {
    color: white;
    float: left;
}

.category-show-more {
    display: inline-flex;
    justify-content: flex-end;
}

.category-show-more>a {
    color: #3a0808 !important;
}

.article-image {
    background-image: url(../images/big-image.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #f2f2f2;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.23);
    transition: all 0.5s;
}

.article-image:hover {
    cursor: pointer;
    transform: scale3d(1.05, 1.05, 1.05);
}

.article-name {
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-name:hover {
    text-decoration: underline;
    cursor: pointer;
}

.article-price {
    display: inline-flex;
    justify-content: flex-end;
}

.article-desc {
    color: silver;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}