body {
    margin: 0;
    font-family: "roboto light";
}

.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

@font-face {
    font-family: 'roboto regular';
    src: url('../fonts/roboto-regular.ttf');
}

@font-face {
    font-family: 'roboto light';
    src: url('../fonts/roboto-light.ttf');
}


/* LOADING */

#loadingScreen {
    position: absolute;
    z-index: 200;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(rgb(138, 55, 55), #000000);
    color: white;
    font-size: 20pt;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s;
}

#loadingScreen.removed {
    opacity: 0;
    pointer-events: none;
}

#loadingScreen p {
    margin-top: 30px;
}

.loadingContainer {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.circle {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 10px solid rgba(0, 0, 0, 0.2);
    border-top-color: #FFF;
    animation: spin 1s infinite linear;
}


/* NAVBAR */

body.preventScroll {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

*:focus {
    outline: none;
}

#navbar-container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar-container>div {
    display: inline-flex;
}

#navbar-container>#link-wrapper {
    width: 100%;
}

#navbar {
    height: auto;
    background-color: #3a0808;
    width: 100%;
    -webkit-box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.57);
    box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.57);
    margin-bottom: 30px;
}


/* LOGO */

#logo {
    padding: 20px;
    transition: all 0.5s;
}

#logo.mobile:active {
    background-color: #631616;
}

#logo>img {
    height: 80px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#logo.mobile {
    cursor: pointer;
}


/* NAVIGATION LINKS */

.navbar-link,
.menu-item {
    padding: 15px;
    display: inline-block;
    font-size: 16px;
    width: auto;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.5s;
    text-transform: uppercase;
}

.navbar-link>a,
.menu-item>a {
    color: white !important;
    text-decoration: none;
}

.navbar-link:hover,
.menu-item:hover {
    background-color: #631616;
}

.navbar-last {
    margin-left: auto;
    display: flex;
}

.glyphicon {
    margin: 0 5px 0 0;
}

.navbar-last>a>div {
    margin-right: 10px;
}

#cart-number {
    margin-right: 10px;
}

#link-wrapper>.menu-header-menu-container>ul {
    padding: 0;
    margin: 0;
    display: flex;
}

#link-wrapper>.menu-header-menu-container {
    flex: 1;
}

#link-wrapper.mobile-links {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    background: #3a0808;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 0px 45px 50px 0px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 0px 45px 50px 0px rgba(0, 0, 0, 0.63);
    box-shadow: 0px 45px 50px 0px rgba(0, 0, 0, 0.63);
}

.mobile-links>.menu-header-menu-container>ul {
    flex-direction: column;
}

.mobile-links>.menu-header-menu-container {
    flex: 0 !important;
    width: 100% !important;
}

.mobile-links>.navbar-last {
    margin: 0 !important;
    width: 100% !important;
    flex-direction: column !important;
}

.mobile-links>.navbar-link,
.mobile-links>.navbar-last>.navbar-link,
.mobile-links>.menu-header-menu-container>ul>li {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
}

.hidden {
    width: 0 !important;
    height: 0 !important;
    visibility: hidden;
    pointer-events: none;
}


/* SEARCH */

#search {
    color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    padding: 5%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    z-index: 2;
}

#search-close-button-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#search.show {
    pointer-events: all;
    opacity: 1;
}

#search-close-button {
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px 18px 10px 18px;
    width: auto;
    transition: all 0.3s;
}

#search-close-button:hover {
    background: rgba(255, 255, 255, 0.15);
}

#search-title {
    margin-bottom: 15px;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.6);
}

#search-input {
    border: 1px solid rgba(255, 255, 255, 0.05);
    padding: 8px;
    background: transparent;
    width: 100%;
    font-size: 50px;
}

#categoryTitle {
    color: rgba(0, 0, 0, 0.65);
    text-align: center;
    font-size: 18pt;
    text-transform: uppercase;
}


/* INDEX */

#index {
    background: white;
    margin-bottom: 40px;
}

#big-image {
    background-image: url(../images/big-image.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #f2f2f2;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.23);
    transition: all 0.5s;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.category-row {
    background: -webkit-linear-gradient(left, #3a0808, white);
    background: -o-linear-gradient(right, #3a0808, white);
    background: -moz-linear-gradient(right, #3a0808, white);
    background: linear-gradient(to right, #3a0808, white);
    padding: 10px;
    margin-top: 20px;
}

.category-title {
    color: white;
    float: left;
    font-family: 'roboto regular';
    font-weight: bold;
}

.category-show-more {
    display: inline-flex;
    justify-content: flex-end;
}

.category-show-more>a {
    color: #3a0808 !important;
}

.article-image {
    background-image: url(../images/big-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #f2f2f2;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.23);
    transition: opacity 0.3s;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.article-image:hover {
    cursor: pointer;
    opacity: 0.75;
}

.article-name {
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-name:hover {
    text-decoration: underline;
    cursor: pointer;
}

.article-price {
    display: inline-flex;
    justify-content: flex-end;
}

.article-desc {
    color: silver;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* PRODUCT */

#product {
    margin-top: 50px;
    margin-bottom: 50px;
}

#product-title {
    padding: 10px 0 2px 0;
    font-size: 24px;
    font-weight: bold;
}

#product-location {
    padding: 2px 0 15px 0;
    font-size: 24px;
    color: #8c8c8c;
}

#product-price {
    padding: 15px 0 15px 0;
    font-size: 24px;
}

#product-description {
    padding: 15px 0 20px 0;
    font-size: 16px;
    border-top: 1px solid rgba(58, 8, 8, 0.03);
}

.info-line {
    padding: 10px 0 10px 0;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(58, 8, 8, 0.03);
}

#actions {
    width: 100%;
    margin-top: 10px;
}

#actions div {
    width: 50px;
    height: 50px;
    background: #3a0808;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    transition: background 0.3s, transform 0.1s;
}

#actions div:hover {
    background: #610f0f;
}

#actions div:active {
    background: #af1717;
    transform: scale3d(0.97, 0.97, 0.97);
}

#quantity {
    border: none;
    height: 50px;
    width: 50px;
    background: #ececec;
    border: 1px solid #d2d2d2;
    color: #4a4a4a;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    border-radius: 0 !important;
    margin: 0 !important;
}

#add-button {
    width: calc(100% - 165px) !important;
    float: right;
    justify-content: flex-start !important;
    padding: 0 0 0 15px;
}

#product-img {
    width: 100%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


/* SEARCH RESULTS */

#search-results {
    margin-top: 20px;
    margin-bottom: 40px;
}

.search-article-image {
    background-image: url(../images/big-image.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #f2f2f2;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.23);
    transition: opacity 0.3s;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.search-article-image:hover {
    cursor: pointer;
    opacity: 0.75;
}

.search-article-name {
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-article-name:hover {
    text-decoration: underline;
    cursor: pointer;
}

.search-article-price {
    display: inline-flex;
    justify-content: flex-end;
}

.search-article-desc {
    color: silver;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* FOOTER */

#footer {
    height: auto;
    background-color: #3a0808;
    width: 100%;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 30px;
}

#footer.fixed {
    position: fixed;
    bottom: 0;
}

.footer-links-left>div,
.footer-links-right>div {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 50px;
}

.footer-links-left>div>a {
    color: white !important;
}

.footer-links-right>div>a>img {
    display: inline-block;
    margin: 0 3px 0 3px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#line {
    border: 0;
    background-color: white;
    height: 1px;
    margin: 0;
}

.footer-info {
    display: flex;
    align-items: center;
    height: 50px;
}

.footer-info:nth-child(1) {
    justify-content: flex-start;
}

.footer-info:nth-child(2) {
    justify-content: flex-end;
}


/* all subpages */

.subpage>div {
    width: 60%;
    margin: auto;
    min-width: 431px;
}


/* thankyou.php */

.woocommerce-thankyou-order-received {
    font-size: 34pt;
    width: 100%;
    text-align: center;
    margin: 30px 0;
}

.woocommerce-thankyou-order-details {
    margin: 30px 0;
    font-size: 16pt;
}

.woocommerce table.shop_table {
    font-size: 16pt;
}

address {
    font-size: 16pt;
}


/* cart.php */

.woocommerce-cart-form {
    margin: 30px 0;
}

#coupon_code {
    width: 200px;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    background-color: #3a0808;
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
    background-color: #5a2e2e;
}

.cart_totals {
    margin: 20px 0;
}


/* form-checkout.php */

.input-text {
    padding: 5px;
}

.woocommerce form .form-row.woocommerce-validated .select2-container,
.woocommerce form .form-row.woocommerce-validated input.input-text,
.woocommerce form .form-row.woocommerce-validated select {
    border-color: #6dff00;
}

.woocommerce form .form-row.woocommerce-invalid .select2-container,
.woocommerce form .form-row.woocommerce-invalid input.input-text,
.woocommerce form .form-row.woocommerce-invalid select {
    border-color: #ff0a0a;
}

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
    margin-bottom: 30px;
}


/* dashboard */

.woocommerce-MyAccount-navigation ul li a {
    color: white !important;
    text-decoration: none !important;
    padding: 11px;
    background: #3a0808;
    border-radius: 3px;
    transition: all 0.3s;
}

.woocommerce-MyAccount-navigation ul li {
    display: inline-block;
    margin: 25px 0;
}

.woocommerce-MyAccount-content {
    padding: 0 40px;
    font-size: 16px;
}

.woocommerce table.my_account_orders .button {
    white-space: nowrap;
    background: #3a0808;
    color: white;
    font-size: 16px;
    margin: 5px;
    transition: all 0.3s;
}

.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce-MyAccount-navigation ul li a:hover {
    background-color: #961111;
    background-image: none;
    color: #ffffff;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
    color: #ffffff;
    background-color: #3a0808;
    margin-bottom: 30px;
    transition: all 0.3s;
}

/* empty cart */

.return-to-shop,
.cart-empty {
    text-align: center;
}




/* MEDIA QUERIES */

@media (max-width: 1200px) {
    #navbar-container {
        width: 100%;
    }
    #actions {
        margin: 30px 0 30px 0;
    }
    #search-title,
    #search-input {
        font-size: 25px;
    }
}

@media (max-width: 992px) {
    .footer-info {
        justify-content: center !important;
        text-align: center;
    }
    .footer-info {
        justify-content: center !important;
        text-align: center;
    }
}

@media (max-width: 970px) {
    body {
        font-family: "roboto regular";
    }
    #search-close-button {
        padding: 11px;
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 768px) {
    #coupon_code {
        width: 300px;
        float: left;
    }
}