body {
    margin: 0;
}

#navbar-container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar-container>div {
    display: inline-flex;
}

#navbar {
    height: auto;
    background-color: #3a0808;
    width: 100%;
    -webkit-box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.63);
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.63);
}

#logo {
    padding: 20px;
    transition: all 0.5s;
}

#logo.mobile:active {
    background-color: #631616;
}

#logo>img {
    height: 80px;
}

#logo.mobile {
    cursor: pointer;
}

.navbar-link {
    padding: 15px;
    display: block;
    font-size: 16px;
    width: auto;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.5s;
}

.navbar-link>a {
    color: white !important;
    text-decoration: none;
}

.navbar-link:hover {
    background-color: #631616;
}

.navbar-last {
    text-align: right;
    margin-left: auto;
}

.navbar-last>a>div {
    margin-right: 10px;
}

#link-wrapper {
    flex: 1;
}

#link-wrapper.mobile-links {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    background: #3a0808;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 0px 45px 50px 0px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 0px 45px 50px 0px rgba(0, 0, 0, 0.63);
    box-shadow: 0px 45px 50px 0px rgba(0, 0, 0, 0.63);
}

.mobile-links>.navbar-link {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hidden {
    width: 0 !important;
    height: 0 !important;
    visibility: hidden;
    pointer-events: none;
}

@media (max-width: 1200px) {
    #navbar-container {
        width: 100%;
    }
}