#product {
    margin-top: 50px;
    margin-bottom: 50px;
}

#title {
    padding: 10px 0 2px 0;
    font-size: 24px;
    font-weight: bold;
}

#location {
    padding: 2px 0 15px 0;
    font-size: 24px;
    color: #8c8c8c;
}

#price {
    padding: 15px 0 15px 0;
    font-size: 24px;
}

#description {
    padding: 15px 0 20px 0;
    font-size: 16px;
    border-top: 1px solid rgba(58, 8, 8, 0.03);
}

.info-line {
    padding: 10px 0 10px 0;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(58, 8, 8, 0.03);
}

#actions {
    width: 100%;
    margin-top: 10px;
}

#actions div {
    width: 50px;
    height: 50px;
    background: #3a0808;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    transition: background 0.3s, transform 0.1s;
}

#actions div:hover {
    background: #610f0f;
}

#actions div:active {
    background: #af1717;
    transform: scale3d(0.97, 0.97, 0.97);
}

#quantity {
    border: none;
    height: 50px;
    width: 50px;
    background: #ececec;
    border: 1px solid #d2d2d2;
    color: #4a4a4a;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    border-radius: 0 !important;
    margin: 0 !important;
}

#add-button {
    width: calc(100% - 165px) !important;
    float: right;
    justify-content: flex-start !important;
    padding: 0 0 0 15px;
}

#product-img {
    width: 100%;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

@media (max-width: 1200px) {
    #actions {
        margin: 30px 0 30px 0;
    }
}